$color-white          : #fff;
$color-apricot-white  : #ffe;
$color-driftwood      : #a3793d;
$color-gold           : #ffd700;
$color-tundora        : #4c4b4b;
$color-mine-shaft     : #2f2e2e;
$color-black          : #000;
